.App {
    background-image: url("C:/Users/sinan/OneDrive/Masaüstü/Weather-App/weather-app/public/Background.png");
    background-size: cover;
    background-position: center;
    background-image: url();
  }